button {
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.react-calendar {
  width: 80%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.react-calendar__month-view__weekdays {
  color: red;
  font-weight: 900;
}

.react-calendar__month-view__days{
  height: 25rem;
}

abbr{
  text-decoration: none;
  font-weight: 900;
  font-size: larger;
}

.react-calendar__navigation__label__labelText {
  font-size: 1.5rem;
  font-weight: 900;
}

.react-calendar__month-view__weekdays__weekday, .react-calendar__month-view__weekdays__weekday--weekend{
  text-decoration: none;
}

.hoja{
  background: linear-gradient(#3f87a6 10%, #ebf8e1a2 10%),
  linear-gradient(to right, #ebf8e100 10%, #c73030 10% 10.2%, #ebf8e100 10.5%);
background-size: 100% 25px, 100% 100%;
background-repeat: repeat, no-repeat;
}
